
        <div ng-if="currentpage.name=='homefront' && (custom.custom[0].text!='' || custom.custom[1].text!='' || custom.image.image!='')">
          <div class="on-img shirtcanvas" style="top:0px;width:195px;zoom:5;">
            <div class="canvasitem movesecondimage" ng-if="custom.image.image!=''" ng-style="custom.custom[4].containercss">
              <img class="auto-dim m-center" ng-style="custom.custom[4].css" ng-src="{{custom.image.image | serverimage}}">

            </div>
            <div class="canvasitem movetext" ng-repeat="txt in custom.custom track by $index" ng-style="txt.containercss">
              <div id="example{{txt.id}}" name="distext" ng-style="txt.css" ng-bind="txt.text" ng-if="$index==0 || $index==1"></div>
            </div>
          </div>
        </div>

        <div class="" ng-if="currentpage.name=='homefront' && custom.custom[0].text=='' && custom.custom[1].text=='' && custom.image.image==''">
          No Design for front.
        </div>

        <div ng-if="currentpage.name=='homeback' && (custom.custom[2].text!='' || custom.custom[3].text!='' || custom.image.image1!='')">
          <div class="on-img shirtcanvas" style="top:0px;width:195px;zoom:5;">
            <div class="canvasitem movesecondimage" ng-if="custom.image.image1!=''" ng-style="custom.custom[5].containercss">
              <img class="auto-dim m-center" ng-style="custom.custom[5].css" ng-src="{{custom.image.image1 | serverimage}}">

            </div>
            <div class="canvasitem movetext" ng-repeat="txt in custom.custom track by $index" ng-style="txt.containercss">
              <div id="example{{txt.id}}" name="distext" ng-style="txt.css" ng-bind="txt.text" ng-if="$index==2 || $index==3"></div>
            </div>
          </div>
        </div>

        <div class="" ng-if="currentpage.name=='homeback' && custom.custom[2].text=='' && custom.custom[3].text=='' && custom.image.image1==''">
          No Design for back.
        </div>
